@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Pacifico&family=Shantell+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Tangerine:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Shantell Sans";
}

/*classes globais*/
.none {
  display: none;
}

/*body*/
body {
  background-image: url(../video/gif-missao-5.gif);
  height: 115vh;
  backdrop-filter: blur(10px);
  color-interpolation-filters: srgb;
}
/*body========================*/
/*==========================================================================================*/
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 60px;
  padding: 35px 35px 0;
}

header div#conteudo {
  width: 100%;
  margin: 70px auto 0;
}

header div#conteudo h1 {
  width: 90%;
  font-size: 12pt;
  font-weight: bold;
  text-align: center;
}

header figure:first-child {
  margin-top: 70px;
  margin-left: 15%;
  transform: translate(-50%, 0px);
}

/*=====================================================*/
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 300px auto 170px;
  max-width: 600px;
}

main div#content {
  display: flex;
  justify-content: center;
}

/*=======================================================================================*/

/*botão avancar*/
section#btn-ok {
  display: flex;
  margin-bottom: 35px;
  position: relative;
}

section#btn-ok button {
  margin: 0 auto;
  width: 90%;
  min-width: 200px;
  max-width: 400px;
  background-color: #581d22;
  color: white;
  font-weight: 700;
  border-radius: 10px;
  border: none;
  padding: 7px 0px;
  font-size: 15pt;
}
