@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Pacifico&family=Shantell+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Tangerine:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Shantell Sans";
}

/*classes globais*/
.none {
  display: none;
}
/*==========================================================================================*/

body {
  height: 100vh;
}
header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 80px;
  padding: 0px 35px 60px;
  background-color: #781eff;
}
header figure {
  margin-top: 65px;
}
header h1 {
  font-size: 15pt;
  width: max-content;
  align-self: center;
  color: white;
  font-weight: 500;
}
/*=====================================================*/
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 600px;
}

main div figure {
  display: flex;
  justify-content: center;
  position: relative;
}

main div figure::after {
  content: url(../image/7-small.png);
  position: absolute;
  right: 10%;
  bottom: 15px;
}

main div p {
  display: flex;
  margin: 40px 35px;
  font-size: 12pt;
  font-weight: bold;
  text-align: center;
}

/*botão avancar*/
section#btn-prox {
  display: flex;
  margin-bottom: 35px;
  height: 15vh;
}

section#btn-prox button {
  margin: 0 auto;
  width: 90%;
  min-width: 200px;
  max-width: 400px;
  background-color: #781eff;
  color: white;
  font-weight: 700;
  border-radius: 10px;
  border: none;
  padding: 7px 0px;
  font-size: 15pt;
  height: max-content;
  align-self: flex-end;
}

/*Ajustando o modal de resolução correta ou incorreta*/
section#resolucao {
  padding: 40px 60px;
  position: absolute;
  z-index: 10;
  bottom: 0;
  width: 100vw;
  text-align-last: center;
}
section#resolucao div#modal-title {
  display: flex;
  align-items: center;
}

section#resolucao div#modal-title p {
  margin-left: 12px;
}

section#resolucao button {
  padding: 8px 20%;
  max-width: 400px;
  margin: 35px auto 0;
  border: none;
  border-radius: 10px;
  font-size: 15pt;
  font-weight: bold;
  color: white;
}

/*resolucao correta*/

.resolucaoCorreta {
  background-color: #b5f1d5;
}

.resolucaoCorreta > div#modal-title > p {
  font-size: 20pt;
  color: #0ed678;
  font-weight: bold;
}

.resolucaoCorreta > button {
  background-color: #0ed678;
}

/*resolucao incorreta*/

.resolucaoIncorreta {
  background-color: #ffb8b8;
}

.resolucaoIncorreta > div#modal-title > p {
  font-size: 20pt;
  color: #c40606;
  font-weight: bold;
}

.resolucaoIncorreta > button {
  background-color: #c40606;
}

/*Barra de progresso*/
#progresso {
  background-color: #581d22;
  width: 0;
  height: 100%;
  transition: 0.5s;
}
